@page
@model CED.Web.Pages.Subjects.IndexModel
@{
}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Datatables</h5>
        <p>Add lightweight datatables to your project with using the <a href="https://github.com/fiduswriter/Simple-DataTables" target="_blank">Simple DataTables</a> library. Just add <code>.datatable</code> class name to any table you wish to conver to a datatable</p>

        <!-- Table with stripped rows -->
        <table class="table datatable">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Last Modification Time</th>
                   
                </tr>
            </thead>
            <tbody>
                @foreach(var subject in Model.subjectDtos)
                {
                    <tr>
                        <td hidden>@subject.Id</td>

                        <th scope="row">1</th>
                        <td>@subject.Name</td>
                        <td>@subject.Description</td>
                        <td>@subject.LastModificationTime</td>
                        <td><i class="bi bi-arrow-up-short"></i></td>
                    </tr>
                }
               
             
            </tbody>
        </table>
        <!-- End Table with stripped rows -->

    </div>
</div>