@using CED.Contracts.Subjects
@model List<SubjectDto>
@{
    int i = 0;
}


<div class="card">
    <div class="card-body">
        <h5 class="card-title">Datatables</h5>
        <p>Add lightweight datatables to your project with using the <a href="https://github.com/fiduswriter/Simple-DataTables" target="_blank">Simple DataTables</a> library. Just add <code>.datatable</code> class name to any table you wish to conver to a datatable</p>

        <!-- Table with stripped rows -->
        <table id="example" class="table datatable">
            <thead>
                <tr>

                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th data-sortable="false" scope="col" style="width:30%;">Actions</th>

                </tr>
            </thead>
            <tbody>

                @foreach (var subject in Model)
                {
                    i++;
                    <tr>
                        <th scope="row">
                            <input hidden value="@subject.Id" />
                            @i
                        </th>

                        <td>@subject.Name</td>
                        <td>@subject.Description</td>

                        <td>
                            <a class="bi btn btn-primary bi-arrow-up-short" asp-controller="Subject" asp-action="Edit" asp-route-id="@subject.Id">Edit</a>
                        </td>


                    </tr>
                }


            </tbody>
        </table>
        <!-- End Table with stripped rows -->

    </div>
</div>