<div class="banner-wrap">
  <div class="container">
    <div class="banner-box">
      <!-- Banner Image Start -->
      <div class="banner-box__img">
        <img
          src="assets/images/hero-bg.jpg"
          width="1300"
          height="634"
          alt=""
        />
      </div>
      <!-- Banner Image End -->
      <!-- Banner Content Start -->
      <div class="banner-box__content">

        <h1 class="banner-box__title h1 text-white">Unlock your potential, Navigate your educational journey with
          Us</h1>
        <div class="banner-box__txt text-ex-large">
          EduSmart is a premier center connecting you with the finest private teachers.
        </div>
      </div>
      <!-- Banner Content End -->

      <!-- Banner Tab Start  -->
      <!--      <div class="banner-tab-wrap">-->
      <!--        &lt;!&ndash; Tab Nav Start &ndash;&gt;-->
      <!--        <ul class="nav" role="tablist">-->
      <!--          <li class="nav-item" role="presentation">-->
      <!--            <button-->
      <!--              class="tab-item active"-->
      <!--              data-bs-toggle="pill"-->
      <!--              data-bs-target="#rent"-->
      <!--              type="button"-->
      <!--              role="tab"-->
      <!--              aria-selected="true"-->
      <!--            >-->
      <!--              Rent-->
      <!--            </button>-->
      <!--          </li>-->
      <!--          <li class="nav-item" role="presentation">-->
      <!--            <button-->
      <!--              class="tab-item"-->
      <!--              data-bs-toggle="pill"-->
      <!--              data-bs-target="#buy"-->
      <!--              type="button"-->
      <!--              role="tab"-->
      <!--              aria-selected="false"-->
      <!--            >-->
      <!--              Buy-->
      <!--            </button>-->
      <!--          </li>-->
      <!--          <li class="nav-item" role="presentation">-->
      <!--            <button-->
      <!--              class="tab-item"-->
      <!--              data-bs-toggle="pill"-->
      <!--              data-bs-target="#sell"-->
      <!--              type="button"-->
      <!--              role="tab"-->
      <!--              aria-selected="false"-->
      <!--            >-->
      <!--              Sell-->
      <!--            </button>-->
      <!--          </li>-->
      <!--        </ul>-->
      <!--        &lt;!&ndash; Tab Nav End &ndash;&gt;-->
      <!--        &lt;!&ndash; Tab Content Start &ndash;&gt;-->
      <!--        <div class="tab-content" id="pills-tabContent">-->
      <!--          <div class="tab-pane fade show active" id="rent" role="tabpanel">-->
      <!--            <form class="form-wrap">-->
      <!--              <div class="row align-items-end">-->
      <!--                <div class="col-md-10">-->
      <!--                  <div class="row">-->
      <!--                    <div class="col-md-6 col-lg-4">-->
      <!--                      <div class="form-group mb-lg-0">-->
      <!--                        <label class="form-label">Location</label>-->
      <!--                        <select class="form-control">-->
      <!--                          <option>Select Your City</option>-->
      <!--                          <option>Amsterdam</option>-->
      <!--                          <option>Barcelona</option>-->
      <!--                          <option>Beijing</option>-->
      <!--                          <option>Beirut</option>-->
      <!--                          <option>Bergen</option>-->
      <!--                          <option>Copenhagen</option>-->
      <!--                          <option>Doha</option>-->
      <!--                        </select>-->
      <!--                      </div>-->
      <!--                    </div>-->
      <!--                    <div class="col-md-6 col-lg-4">-->
      <!--                      <div class="form-group mb-lg-0">-->
      <!--                        <label class="form-label">Property Type</label>-->
      <!--                        <select class="form-control">-->
      <!--                          <option>Choose Property Type</option>-->
      <!--                          <option>Residential Apartment</option>-->
      <!--                          <option>Independent/Builder Floor</option>-->
      <!--                          <option>Independent House/Villa</option>-->
      <!--                          <option>Residential Land</option>-->
      <!--                          <option>1 RK/ Studio Apartment</option>-->
      <!--                          <option>Farm House</option>-->
      <!--                          <option>Serviced Apartments</option>-->
      <!--                        </select>-->
      <!--                      </div>-->
      <!--                    </div>-->
      <!--                    <div class="col-md-6 col-lg-4">-->
      <!--                      <div class="form-group mb-md-0">-->
      <!--                        <label class="form-label">Price Range</label>-->
      <!--                        <select class="form-control">-->
      <!--                          <option>Choose Price Range</option>-->
      <!--                          <option>$0-1000</option>-->
      <!--                          <option>$1000-$2000</option>-->
      <!--                          <option>$2000-$3000</option>-->
      <!--                          <option>$3000-$4000</option>-->
      <!--                          <option>$4000-$5000</option>-->
      <!--                        </select>-->
      <!--                      </div>-->
      <!--                    </div>-->
      <!--                  </div>-->
      <!--                </div>-->
      <!--                <div class="col-md-2 d-md-flex">-->
      <!--                  <button class="btn btn-primary btn-icon ms-auto">-->
      <!--                    <i class="ri-search-2-line"></i>-->
      <!--                  </button>-->
      <!--                </div>-->
      <!--              </div>-->
      <!--            </form>-->
      <!--          </div>-->
      <!--          <div class="tab-pane fade" id="buy" role="tabpanel">-->
      <!--            <form class="form-wrap">-->
      <!--              <div class="row align-items-end">-->
      <!--                <div class="col-md-10">-->
      <!--                  <div class="row">-->
      <!--                    <div class="col-md-6 col-lg-4">-->
      <!--                      <div class="form-group mb-lg-0">-->
      <!--                        <label class="form-label">Location</label>-->
      <!--                        <select class="form-control">-->
      <!--                          <option>Select Your City</option>-->
      <!--                          <option>Amsterdam</option>-->
      <!--                          <option>Barcelona</option>-->
      <!--                          <option>Beijing</option>-->
      <!--                          <option>Beirut</option>-->
      <!--                          <option>Bergen</option>-->
      <!--                          <option>Copenhagen</option>-->
      <!--                          <option>Doha</option>-->
      <!--                        </select>-->
      <!--                      </div>-->
      <!--                    </div>-->
      <!--                    <div class="col-md-6 col-lg-4">-->
      <!--                      <div class="form-group mb-lg-0">-->
      <!--                        <label class="form-label">Property Type</label>-->
      <!--                        <select class="form-control">-->
      <!--                          <option>Choose Property Type</option>-->
      <!--                          <option>Residential Apartment</option>-->
      <!--                          <option>Independent/Builder Floor</option>-->
      <!--                          <option>Independent House/Villa</option>-->
      <!--                          <option>Residential Land</option>-->
      <!--                          <option>1 RK/ Studio Apartment</option>-->
      <!--                          <option>Farm House</option>-->
      <!--                          <option>Serviced Apartments</option>-->
      <!--                        </select>-->
      <!--                      </div>-->
      <!--                    </div>-->
      <!--                    <div class="col-md-6 col-lg-4">-->
      <!--                      <div class="form-group mb-md-0">-->
      <!--                        <label class="form-label">Price Range</label>-->
      <!--                        <select class="form-control">-->
      <!--                          <option>Choose Price Range</option>-->
      <!--                          <option>$0-1000</option>-->
      <!--                          <option>$1000-$2000</option>-->
      <!--                          <option>$2000-$3000</option>-->
      <!--                          <option>$3000-$4000</option>-->
      <!--                          <option>$4000-$5000</option>-->
      <!--                        </select>-->
      <!--                      </div>-->
      <!--                    </div>-->
      <!--                  </div>-->
      <!--                </div>-->
      <!--                <div class="col-md-2 d-md-flex">-->
      <!--                  <button class="btn btn-primary btn-icon ms-auto">-->
      <!--                    <i class="ri-search-2-line"></i>-->
      <!--                  </button>-->
      <!--                </div>-->
      <!--              </div>-->
      <!--            </form>-->
      <!--          </div>-->
      <!--          <div class="tab-pane fade" id="sell" role="tabpanel">-->
      <!--            <form class="form-wrap">-->
      <!--              <div class="row align-items-end">-->
      <!--                <div class="col-md-10">-->
      <!--                  <div class="row">-->
      <!--                    <div class="col-md-6 col-lg-4">-->
      <!--                      <div class="form-group mb-lg-0">-->
      <!--                        <label class="form-label">Location</label>-->
      <!--                        <select class="form-control">-->
      <!--                          <option>Select Your City</option>-->
      <!--                          <option>Amsterdam</option>-->
      <!--                          <option>Barcelona</option>-->
      <!--                          <option>Beijing</option>-->
      <!--                          <option>Beirut</option>-->
      <!--                          <option>Bergen</option>-->
      <!--                          <option>Copenhagen</option>-->
      <!--                          <option>Doha</option>-->
      <!--                        </select>-->
      <!--                      </div>-->
      <!--                    </div>-->
      <!--                    <div class="col-md-6 col-lg-4">-->
      <!--                      <div class="form-group mb-lg-0">-->
      <!--                        <label class="form-label">Property Type</label>-->
      <!--                        <select class="form-control">-->
      <!--                          <option>Choose Property Type</option>-->
      <!--                          <option>Residential Apartment</option>-->
      <!--                          <option>Independent/Builder Floor</option>-->
      <!--                          <option>Independent House/Villa</option>-->
      <!--                          <option>Residential Land</option>-->
      <!--                          <option>1 RK/ Studio Apartment</option>-->
      <!--                          <option>Farm House</option>-->
      <!--                          <option>Serviced Apartments</option>-->
      <!--                        </select>-->
      <!--                      </div>-->
      <!--                    </div>-->
      <!--                    <div class="col-md-6 col-lg-4">-->
      <!--                      <div class="form-group mb-md-0">-->
      <!--                        <label class="form-label">Price Range</label>-->
      <!--                        <select class="form-control">-->
      <!--                          <option>Choose Price Range</option>-->
      <!--                          <option>$0-1000</option>-->
      <!--                          <option>$1000-$2000</option>-->
      <!--                          <option>$2000-$3000</option>-->
      <!--                          <option>$3000-$4000</option>-->
      <!--                          <option>$4000-$5000</option>-->
      <!--                        </select>-->
      <!--                      </div>-->
      <!--                    </div>-->
      <!--                  </div>-->
      <!--                </div>-->
      <!--                <div class="col-md-2 d-md-flex">-->
      <!--                  <button class="btn btn-primary btn-icon ms-auto">-->
      <!--                    <i class="ri-search-2-line"></i>-->
      <!--                  </button>-->
      <!--                </div>-->
      <!--              </div>-->
      <!--            </form>-->
      <!--          </div>-->
      <!--        </div>-->
      <!--        &lt;!&ndash; Tab Content End &ndash;&gt;-->
      <!--      </div>-->
      <!-- Banner Tab End  -->
    </div>
  </div>
</div>

<!-- About us-->
<div class="countries-wrap">
  <div class="container">
    <div class="countries-wrap__title">
      <div class="row justify-content-center">
        <div class="col-xl-12 col-lg-9 col-md-10">
          <h2 class="h2 text-center">
            EduSmart has experienced remarkable growth over the years.
          </h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 order-1 order-lg-2">
        <img src="assets/images/about.jpg" class="img-fluid" alt="">
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0 text-ex-large">
        <!--        <h3>EduSmart has experienced remarkable growth over the years.</h3>-->
        <p class="fst-italic">
          Why you should join us:
        </p>
        <ul>
          <li><i class="ri-shield-check-line"></i> Personalized: Receive individualized attention and guidance tailored
            to
            your specific needs and learning
            style.
          </li>
          <li><i class="ri-shield-check-line"></i> Expertise: Access a team of experienced consultants and educators
            with a deep understanding of educational systems and requirements.
          </li>
          <li><i class="ri-shield-check-line"></i> Affordable: Access expert guidance and personalized support at a
            competitive price
          </li>
        </ul>

        <p class="fw-bolder text-center">
          Take the first step towards exceptional service by contacting us now.
        </p>

      </div>
    </div>
  </div>
</div>

<!--Our services-->
<section style="background-color: #f6f7f6;">
  <div class="countries-wrap" style="padding-bottom: 0;">
    <div class="countries-wrap__title">
      <div class="row justify-content-center">
        <div class="col-xl-5 col-lg-7 col-md-10">
          <h2 class="h2 text-center">
            Our services
          </h2>
        </div>
      </div>
      <div class="container">

        <ul class="service-list">
          <li class="service-item">
            <div class="service-item-icon">
              <img src="./assets/images/service-icon-1.svg" alt="Service icon">
            </div>
            <div class="service-content">
              <p class="service-item-title">Students & Tutors</p>
              <p class="service-item-text">1232</p>
            </div>
          </li>
          <li class="service-item">
            <div class="service-item-icon">
              <img src="./assets/images/service-icon-2.svg" alt="Service icon">
            </div>
            <div class="service-content">
              <p class="service-item-title">Courses</p>
              <p class="service-item-text">64</p>
            </div>
          </li>
          <li class="service-item">
            <div class="service-item-icon">
              <img src="./assets/images/service-icon-3.svg" alt="Service icon">
            </div>
            <div class="service-content ">
              <p class="service-item-title">Events</p>
              <p class="service-item-text">42</p>
            </div>
          </li>
          <li class="service-item">
            <div class="service-item-icon">
              <img src="./assets/images/service-icon-4.svg" alt="Service icon">
            </div>
            <div class="service-content">
              <p class="service-item-title">Special Support</p>
              <p class="service-item-text">24/7 Dedicated Support</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>


<!-- ======= Why Us Section ======= -->
<div class="countries-wrap why-us">
  <div class="container">

    <div class="row">
      <div class="col-lg-4 d-flex align-items-stretch">
        <div class="content">
          <h3>
            Why Choose Our Tutors?
          </h3>
          <p>
            Our tutors are highly experienced and possess in-depth knowledge of their respective subjects, ensuring
            comprehensive support and guidance.
            With a focus on one-on-one instruction, our tutors provide individualized attention, allowing for a
            customized learning experience that addresses your unique strengths and challenges.
          </p>
          <div class="text-center">
            <a href="about.html" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-8 d-flex align-items-stretch">
        <div class="icon-boxes d-flex flex-column justify-content-center">
          <div class="row">
            <div class="col-xl-4 d-flex align-items-stretch">
              <div class="icon-box mt-4 mt-xl-0">
                <i class="bx bx-receipt"></i>
                <h4>Reinforcement of Fundamentals</h4>
                <p>Strengthen your foundational knowledge and skills to create a solid academic base for future
                  learning.</p>
              </div>
            </div>
            <div class="col-xl-4 d-flex align-items-stretch">
              <div class="icon-box mt-4 mt-xl-0">
                <i class="bx bx-cube-alt"></i>
                <h4>Customized Learning Approach</h4>
                <p>Experience a tailored learning approach that adapts to your unique strengths, weaknesses, and
                  learning preferences.</p>
              </div>
            </div>
            <div class="col-xl-4 d-flex align-items-stretch">
              <div class="icon-box mt-4 mt-xl-0">
                <i class="bx bx-images"></i>
                <h4>Efficient Learning</h4>
                <p>Save time and effort by focusing on the most relevant topics and utilizing effective study techniques
                  recommended by our experienced tutors.</p>
              </div>
            </div>
          </div>
        </div><!-- End .content-->
      </div>
    </div>

  </div>
</div><!-- End Why Us Section -->

<div class="countries-wrap">
  <div class="countries-wrap">
    <!-- Countries Section Start -->
    <div class="container">
      <div class="countries-wrap__title">
        <div class="row justify-content-center">
          <div class="col-xl-5 col-lg-7 col-md-10">
            <h2 class="h2 text-center">
              We are available in many well-known countries
            </h2>
          </div>
        </div>
      </div>
      <div class="countries-list">
        <!-- Countries List Start -->
        <ul class="row">
          <li class="col-lg-3 col-md-6 col-sm-6">
            <div class="countries-box">
              <div class="countries-box__title">America</div>
              <div class="countries-box__img">
                <img src="assets/images/countrie-img-1.jpg" alt=""/>
              </div>
            </div>
          </li>
          <li class="col-lg-3 col-md-6 col-sm-6">
            <div class="countries-box">
              <div class="countries-box__title">Spain</div>
              <div class="countries-box__img">
                <img src="assets/images/countrie-img-2.jpg" alt=""/>
              </div>
            </div>
          </li>
          <li class="col-lg-3 col-md-6 col-sm-6">
            <div class="countries-box">
              <div class="countries-box__title">London</div>
              <div class="countries-box__img">
                <img src="assets/images/countrie-img-3.jpg" alt=""/>
              </div>
            </div>
          </li>
          <li class="col-lg-3 col-md-6 col-sm-6">
            <div class="countries-box">
              <div class="countries-box__title">France</div>
              <div class="countries-box__img">
                <img src="assets/images/countrie-img-4.jpg" alt=""/>
              </div>
            </div>
          </li>
        </ul>
        <!-- Countries List End -->
      </div>
    </div>
  </div>
  <!-- Countries Section End -->
</div>

<!--<div class="recently-added-wrap">-->
<!--  <div class="container">-->
<!--    <div-->
<!--      class="recently-added-wrap__title d-md-flex justify-content-between"-->
<!--    >-->
<!--      <h2 class="h2">Recently Added</h2>-->
<!--      <div class="cta">-->
<!--        <a href="#" class="btn btn-link">See all</a>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="property-list">-->
<!--      <ul class="row">-->
<!--        <li class="col-md-6">-->
<!--          <div class="property-box">-->
<!--            <div class="property-box__left">-->
<!--              <img src="https://picsum.photos/id/163/158/200" alt=""/>-->
<!--            </div>-->
<!--            <div class="property-box__right">-->
<!--              <div class="property-box__title h3">-->
<!--                <a href="#">103/143 West Street, Crows Nest</a>-->
<!--              </div>-->
<!--              <div class="property-box__amenities">-->
<!--                <span>10 Bedroom</span>-->
<!--                <span>150 M</span>-->
<!--                <span>2 Garage</span>-->
<!--              </div>-->
<!--              <div class="property-box__post-price">-->
<!--                <div class="property-box__post-by">-->
<!--                  Posted by <a href="#">X Builder</a>-->
<!--                </div>-->
<!--                <div class="property-box__price">-->
<!--                  <span class="badge">$45,545</span>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </li>-->
<!--        <li class="col-md-6">-->
<!--          <div class="property-box">-->
<!--            <div class="property-box__left">-->
<!--              <img src="https://picsum.photos/id/174/158/200" alt=""/>-->
<!--            </div>-->
<!--            <div class="property-box__right">-->
<!--              <div class="property-box__title h3">-->
<!--                <a href="#">103/143 West Street, Crows Nest</a>-->
<!--              </div>-->
<!--              <div class="property-box__amenities">-->
<!--                <span>10 Bedroom</span>-->
<!--                <span>150 M</span>-->
<!--                <span>2 Garage</span>-->
<!--              </div>-->
<!--              <div class="property-box__post-price">-->
<!--                <div class="property-box__post-by">-->
<!--                  Posted by <a href="#">X Builder</a>-->
<!--                </div>-->
<!--                <div class="property-box__price">-->
<!--                  <span class="badge">$45,545</span>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </li>-->
<!--        <li class="col-md-6">-->
<!--          <div class="property-box">-->
<!--            <div class="property-box__left">-->
<!--              <img src="https://picsum.photos/id/164/158/200" alt=""/>-->
<!--            </div>-->
<!--            <div class="property-box__right">-->
<!--              <div class="property-box__title h3">-->
<!--                <a href="#">103/143 West Street, Crows Nest</a>-->
<!--              </div>-->
<!--              <div class="property-box__amenities">-->
<!--                <span>10 Bedroom</span>-->
<!--                <span>150 M</span>-->
<!--                <span>2 Garage</span>-->
<!--              </div>-->
<!--              <div class="property-box__post-price">-->
<!--                <div class="property-box__post-by">-->
<!--                  Posted by <a href="#">X Builder</a>-->
<!--                </div>-->
<!--                <div class="property-box__price">-->
<!--                  <span class="badge">$45,545</span>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </li>-->
<!--        <li class="col-md-6">-->
<!--          <div class="property-box">-->
<!--            <div class="property-box__left">-->
<!--              <img src="https://picsum.photos/id/220/158/200" alt=""/>-->
<!--            </div>-->
<!--            <div class="property-box__right">-->
<!--              <div class="property-box__title h3">-->
<!--                <a href="#">103/143 West Street, Crows Nest</a>-->
<!--              </div>-->
<!--              <div class="property-box__amenities">-->
<!--                <span>10 Bedroom</span>-->
<!--                <span>150 M</span>-->
<!--                <span>2 Garage</span>-->
<!--              </div>-->
<!--              <div class="property-box__post-price">-->
<!--                <div class="property-box__post-by">-->
<!--                  Posted by <a href="#">X Builder</a>-->
<!--                </div>-->
<!--                <div class="property-box__price">-->
<!--                  <span class="badge">$45,545</span>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </li>-->
<!--        <li class="col-md-6">-->
<!--          <div class="property-box">-->
<!--            <div class="property-box__left">-->
<!--              <img src="https://picsum.photos/id/232/158/200" alt=""/>-->
<!--            </div>-->
<!--            <div class="property-box__right">-->
<!--              <div class="property-box__title h3">-->
<!--                <a href="#">103/143 West Street, Crows Nest</a>-->
<!--              </div>-->
<!--              <div class="property-box__amenities">-->
<!--                <span>10 Bedroom</span>-->
<!--                <span>150 M</span>-->
<!--                <span>2 Garage</span>-->
<!--              </div>-->
<!--              <div class="property-box__post-price">-->
<!--                <div class="property-box__post-by">-->
<!--                  Posted by <a href="#">X Builder</a>-->
<!--                </div>-->
<!--                <div class="property-box__price">-->
<!--                  <span class="badge">$45,545</span>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </li>-->
<!--        <li class="col-md-6">-->
<!--          <div class="property-box">-->
<!--            <div class="property-box__left">-->
<!--              <img src="https://picsum.photos/id/270/158/200" alt=""/>-->
<!--            </div>-->
<!--            <div class="property-box__right">-->
<!--              <div class="property-box__title h3">-->
<!--                <a href="#">103/143 West Street, Crows Nest</a>-->
<!--              </div>-->
<!--              <div class="property-box__amenities">-->
<!--                <span>10 Bedroom</span>-->
<!--                <span>150 M</span>-->
<!--                <span>2 Garage</span>-->
<!--              </div>-->
<!--              <div class="property-box__post-price">-->
<!--                <div class="property-box__post-by">-->
<!--                  Posted by <a href="#">X Builder</a>-->
<!--                </div>-->
<!--                <div class="property-box__price">-->
<!--                  <span class="badge">$45,545</span>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<div class="banner-wrap">
  <div class="container">
    <div class="banner-box">
      <!-- Banner Image Start -->
      <div class="banner-box__img">
        <img
          src="assets/images/banner-image-2.jpg"
          width="1300"
          height="482"
          alt=""
        />
      </div>
      <!-- Banner Image End -->
      <!-- Banner Content Start -->
      <div class="banner-box__content">
        <h1 class=" h1">Find your tutor</h1>
        <h1 class="h1">Find your best future</h1>
        <div class="banner-box__txt text-ex-large">
          We provide a complete service for the educational development, consulting and support of your learning path.
        </div>
        <div class="banner-box__cta">
          <a href="#" class="btn btn-primary">Contact Us</a>
        </div>
      </div>
      <!-- Banner Content End -->
    </div>
  </div>
</div>


<div class="footer-wrap">
  <footer>
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-4 col-md-8">
          <div class="f-info">
            <div class="f-logo pb-3">
              <img src="assets/images/logo.svg" alt=""/>
            </div>
            <p class="text-small pb-3">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
              do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco
              laboris nisi ut aliquip ex ea commodo consequat.
            </p>
            <div class="d-none d-lg-block">
              <div class="social-list pb-3">
                <ul>
                  <li>
                    <a href="#" class="facebook" target="_blank"
                    ><i class="ri-facebook-circle-fill"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#" class="twitter" target="_blank"
                    ><i class="ri-twitter-fill"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#" class="instagram" target="_blank"
                    ><i class="ri-instagram-fill"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#" class="linkedin" target="_blank"
                    ><i class="ri-linkedin-box-fill"></i
                    ></a>
                  </li>
                </ul>
              </div>
              <p class="text-small">© 2023 . All rights reserved.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-7 col-md-12">
          <div class="row">
            <div class="col-md-3 col-sm-6 col-6 pb-4 pb-md-0">
              <h5 class="h4 pb-3">Take a tour</h5>
              <div class="quick-links">
                <ul>
                  <li><a href="#">Features</a></li>
                  <li><a href="#">Partners</a></li>
                  <li><a href="#">Pricing</a></li>
                  <li><a href="#">Product</a></li>
                  <li><a href="#">Support</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-6 pb-4 pb-md-0">
              <h5 class="h4 pb-3">Our Company</h5>
              <div class="quick-links">
                <ul>
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Agents</a></li>
                  <li><a href="#">Blog</a></li>
                  <li><a href="#">Media</a></li>
                  <li><a href="#">Contact Us</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-5">
              <h5 class="h4 pb-3">Subscribe</h5>
              <div class="subscribe-form-wrap">
                <p class="text-small">
                  Subscribe to get latest property, blog news from us
                </p>
                <form class="subscribe-form form-wrap">
                  <div class="form-group">
                    <input
                      type="email"
                      class="form-control"
                      placeholder="Email Address"
                    />
                    <div class="cta">
                      <button
                        class="btn btn-primary btn-icon btn-sm btn-rounded"
                      >
                        <i class="ri-arrow-right-line"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-lg-none pt-4">
        <div class="social-list pb-3">
          <ul>
            <li>
              <a href="#" class="facebook" target="_blank"
              ><i class="ri-facebook-circle-fill"></i
              ></a>
            </li>
            <li>
              <a href="#" class="twitter" target="_blank"
              ><i class="ri-twitter-fill"></i
              ></a>
            </li>
            <li>
              <a href="#" class="instagram" target="_blank"
              ><i class="ri-instagram-fill"></i
              ></a>
            </li>
            <li>
              <a href="#" class="linkedin" target="_blank"
              ><i class="ri-linkedin-box-fill"></i
              ></a>
            </li>
          </ul>
        </div>
        <p class="text-small">© 2023 . All rights reserved.</p>
      </div>
    </div>
  </footer>
</div>
