.header-wrap .dropdown a {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #110229;
  letter-spacing: 0.2em;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out; }
.header-wrap .dropdown a:hover, .header-wrap .dropdown a.active {
  color: #1daeff; }
@media (max-width: 1024px) {
  .header-wrap .dropdown  a {
    font-size: 14px; } }
@media (max-width: 767px) {
  .header-wrap .dropdown  a {
    font-size: 16px; } }
